In [3]:
import pandas as pd

In [47]:
df = pd.read_csv('KBO FA 야수 [2013-2024]_최종.csv의 사본.csv')
df1 = pd.read_csv('야수 wRC+.csv의 사본.csv')

In [11]:
df.columns

Index(['FA년도', '구단명', '선수명', '포지션', '투', '타', '인정년수', '구분', 'FA등급', '플레이년도',
       'Age', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HP', 'HR', 'RBI', 'SB',
       'CS', 'BB', 'SO', 'GDP', 'SF', '수비_필딩 RAA', '수비_포지션 RAA', '전체수비 RAA',
       'oWAR', 'dWAR', '연봉', '비고', '잔류 여부', 'FA 계약 연수', 'FA 계약 총액',
       'TEAM RANK', 'TEAM G', 'TEAM PA', 'TEAM AB', 'TEAM R', 'TEAM H',
       'TEAM 2B', 'TEAM 3B', 'TEAM HP', 'TEAM HR', 'TEAM RBI', 'TEAM SB',
       'TEAM CS', 'TEAM BB', 'TEAM SO', 'TEAM GDP', 'TEAM SF',
       'TEAM 수비_필딩 RAA', 'TEAM 수비_포지션 RAA', 'TEAM 전체수비 RAA', 'TEAM oWAR',
       'TEAM dWAR', 'TEAM 연봉'],
      dtype='object')

In [53]:
df1.columns

Index(['Name', 'Year', 'PA', 'wRC+'], dtype='object')

In [71]:
df

,FA년도,구단명,선수명,포지션,투,타,인정년수,구분,FA등급,플레이년도,...,TEAM BB,TEAM SO,TEAM GDP,TEAM SF,TEAM 수비_필딩 RAA,TEAM 수비_포지션 RAA,TEAM 전체수비 RAA,TEAM oWAR,TEAM dWAR,TEAM 연봉
0,2011,롯데,강민호,C,우투,우타,9.0,신규,A,2010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012,롯데,강민호,C,우투,우타,9.0,신규,A,2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,롯데,강민호,C,우투,우타,9.0,신규,A,2012,...,375.0,890.0,91.0,26.0,-41.49,13.36,-35.33,21.15,-3.15,289700.0
3,2014,롯데,강민호,C,우투,우타,9.0,신규,A,2013,...,503.0,862.0,92.0,41.0,17.08,1.43,18.51,15.17,2.53,311900.0
4,2015,롯데,강민호,C,우투,우타,4.0,FA 1년차,A,2014,...,534.0,964.0,95.0,41.0,1.14,15.71,-6.57,16.88,0.10,510600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
645,2019,KT,황재균,3B,우투,우타,4.0,재자격,B,2018,...,464.0,1109.0,103.0,26.0,-2.41,-7.35,-12.03,16.22,-0.35,607700.0
646,2020,KT,황재균,3B,우투,우타,4.0,재자격,B,2019,...,475.0,975.0,113.0,45.0,36.35,39.04,26.31,21.52,3.72,514900.0
647,2021,KT,황재균,3B,우투,우타,4.0,재자격,B,2020,...,554.0,1097.0,104.0,45.0,21.71,15.80,11.90,27.89,2.10,584000.0
648,2022,KT,황재균,3B,우투,우타,4.0,재자격,B,2021,...,645.0,1047.0,105.0,44.0,10.21,-7.11,0.42,21.86,1.33,575800.0
649,2023,KT,황재균,3B,우투,우타,NaN,FA 1년차,NaN,2022,...,519.0,1183.0,105.0,44.0,13.16,14.83,4.34,17.82,1.35,749000.0

In [59]:
df1.columns = ['선수명', '플레이년도','PA','wRC+']

In [63]:
df1 = df1.dropna()

      선수명   플레이년도     PA   wRC+
1     강민호  2005.0  230.0   56.5
2     강민호  2006.0  460.0   84.8
3     강민호  2007.0  474.0  110.5
4     강민호  2008.0  501.0  134.5
5     강민호  2009.0  301.0   91.0
...   ...     ...    ...    ...
1610  이용규  2021.0  547.0  119.5
1611  이용규  2022.0  326.0   66.9
1612  이용규  2023.0  178.0   70.2
1613  이용규  2024.0  227.0  136.7
1614  이용규  2025.0   28.0   52.3

[1614 rows x 4 columns]

In [69]:
result = pd.merge(df, df1, how='left', on=['선수명','플레이년도'])
result

,FA년도,구단명,선수명,포지션,투,타,인정년수,구분,FA등급,플레이년도,...,TEAM GDP,TEAM SF,TEAM 수비_필딩 RAA,TEAM 수비_포지션 RAA,TEAM 전체수비 RAA,TEAM oWAR,TEAM dWAR,TEAM 연봉,PA_y,wRC+
0,2011,롯데,강민호,C,우투,우타,9.0,신규,A,2010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,465.0,134.4
1,2012,롯데,강민호,C,우투,우타,9.0,신규,A,2011,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,506.0,130.3
2,2013,롯데,강민호,C,우투,우타,9.0,신규,A,2012,...,91.0,26.0,-41.49,13.36,-35.33,21.15,-3.15,289700.0,454.0,132.9
3,2014,롯데,강민호,C,우투,우타,9.0,신규,A,2013,...,92.0,41.0,17.08,1.43,18.51,15.17,2.53,311900.0,405.0,99.2
4,2015,롯데,강민호,C,우투,우타,4.0,FA 1년차,A,2014,...,95.0,41.0,1.14,15.71,-6.57,16.88,0.10,510600.0,360.0,85.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
646,2019,KT,황재균,3B,우투,우타,4.0,재자격,B,2018,...,103.0,26.0,-2.41,-7.35,-12.03,16.22,-0.35,607700.0,588.0,117.0
647,2020,KT,황재균,3B,우투,우타,4.0,재자격,B,2019,...,113.0,45.0,36.35,39.04,26.31,21.52,3.72,514900.0,507.0,127.0
648,2021,KT,황재균,3B,우투,우타,4.0,재자격,B,2020,...,104.0,45.0,21.71,15.80,11.90,27.89,2.10,584000.0,600.0,129.5
649,2022,KT,황재균,3B,우투,우타,4.0,재자격,B,2021,...,105.0,44.0,10.21,-7.11,0.42,21.86,1.33,575800.0,507.0,107.9
650,2023,KT,황재균,3B,우투,우타,NaN,FA 1년차,NaN,2022,...,105.0,44.0,13.16,14.83,4.34,17.82,1.35,749000.0,581.0,97.1

In [87]:
result.to_csv('FA_야수_데이터_통합.csv', index = False)