In [96]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [98]:
df = pd.read_csv('야수_전처리_ver07.csv')
df

,FA년도,구단명,선수명,포지션,투,타,구분,FA등급,플레이년도,나이,게임수,타석수,타수,득점,안타,2루타,3루타,사구,홈런,타점,도루성공,도루실패,볼넷,삼진,병살타,희생플라이,공격WAR,연봉,비고,잔류 여부,FA 계약 연수,FA 계약 총액,wRC+,장타율,출루율,OPS,득점파크팩터,홈런파크팩터,장타파크팩터,구단지역,국대출전횟수
0,2011,롯데,강민호(2011),C,우투,우타,신규,A,2010,25,117,465,410,66,125,19,1,8,23,72,2,7,42,65,16,5,3.67,13500,고졸,잔류,0,0.0,134.4,0.629,0.376,1.005,1032.0,1128.0,1093.0,부산,8.0
1,2012,롯데,강민호(2011),C,우투,우타,신규,A,2011,26,124,506,450,63,130,25,2,8,19,66,4,6,47,81,18,1,3.90,20000,고졸,잔류,0,0.0,130.3,0.582,0.366,0.948,1044.0,1128.0,1093.0,부산,8.0
2,2013,롯데,강민호(2011),C,우투,우타,신규,A,2012,27,119,454,400,41,109,21,0,8,19,66,0,1,44,97,9,2,3.76,30000,고졸,잔류,0,0.0,132.9,0.568,0.355,0.923,1033.0,1128.0,1093.0,부산,8.0
3,2014,롯데,강민호(2011),C,우투,우타,신규,A,2013,28,105,405,327,48,77,13,0,11,11,57,4,1,60,87,5,6,1.75,55000,고졸,잔류,4,750000.0,99.2,0.450,0.366,0.816,1058.0,1128.0,1093.0,부산,8.0
4,2015,롯데,강민호(2015),C,우투,우타,FA 1년차,A,2014,29,98,360,310,37,71,14,2,13,16,40,1,2,33,92,6,4,1.20,100000,고졸,잔류,0,0.0,85.0,0.545,0.325,0.870,1045.0,1102.0,1062.0,부산,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,2019,KT,황재균(2019),3B,우투,우타,FA 1년차,B,2018,31,142,588,530,76,157,41,3,4,25,88,14,7,49,120,5,3,3.54,120000,고졸,이적,0,0.0,117.0,0.657,0.358,1.015,1018.0,985.0,1031.0,수원,5.0
663,2020,KT,황재균(2019),3B,우투,우타,재자격,B,2019,32,124,507,448,78,127,16,3,2,20,67,10,7,52,71,10,5,3.80,120000,고졸,이적,0,0.0,127.0,0.554,0.357,0.911,1006.0,948.0,1019.0,수원,5.0
664,2021,KT,황재균(2019),3B,우투,우타,재자격,B,2020,33,134,600,541,108,169,35,5,5,21,97,11,6,47,98,12,4,4.72,120000,고졸,이적,0,0.0,129.5,0.625,0.370,0.995,1012.0,978.0,1018.0,수원,5.0
665,2022,KT,황재균(2019),3B,우투,우타,재자격,B,2021,34,117,507,453,74,132,16,2,3,10,56,11,4,46,92,11,4,2.41,80000,고졸,잔류,4,600000.0,107.9,0.464,0.358,0.822,1024.0,987.0,1017.0,수원,5.0
666,2023,KT,황재균(2023),3B,우투,우타,FA 1년차,B,2022,35,141,581,519,59,136,25,3,5,10,64,6,3,53,99,17,2,2.07,40000,고졸,잔류,0,0.0,97.1,0.453,0.335,0.788,1039.0,1028.0,1020.0,수원,5.0

In [100]:
# 선수명만 남게 컬럼을 만든다
df['선수명_수정'] = df['선수명'].str.replace(r'\(\d{4}\)', '', regex=True)

In [102]:
# 잔류여부가 이적이나 트레이드인 경우 0을 넣어준다
df['원클럽맨여부'] = np.where(df['잔류 여부'].isin(['이적', '트레이드']), 0, np.nan)

In [130]:
# 잘 적용 되었는지 선수 몇명 검색해서 확인
df[df['선수명'].str.contains(r'^김선빈', regex=True)]

,FA년도,구단명,선수명,포지션,투,타,구분,FA등급,플레이년도,나이,게임수,타석수,타수,득점,안타,2루타,3루타,사구,홈런,타점,도루성공,도루실패,볼넷,삼진,병살타,희생플라이,공격WAR,연봉,비고,잔류 여부,FA 계약 연수,FA 계약 총액,wRC+,장타율,출루율,OPS,득점파크팩터,홈런파크팩터,장타파크팩터,구단지역,국대출전횟수,선수명_수정,원클럽맨여부
85,2017,KIA,김선빈(2017),SS,우투,우타,신규,A,2016,27,6,27,25,3,9,2,1,0,0,0,1,1,1,3,1,0,0.28,8000,고졸,잔류,0,0.0,129.0,0.640,0.385,1.025,997.0,1031.0,1004.0,광주,0.0,김선빈,1
86,2018,KIA,김선빈(2017),SS,우투,우타,신규,A,2017,28,137,529,476,84,176,34,1,5,5,64,4,4,39,40,10,4,5.24,8000,고졸,잔류,0,0.0,136.0,0.561,0.420,0.981,987.0,983.0,1003.0,광주,0.0,김선빈,1
87,2019,KIA,김선빈(2017),SS,우투,우타,신규,A,2018,29,127,492,424,73,125,17,2,9,4,49,4,1,48,42,10,5,2.41,28000,고졸,잔류,0,0.0,93.9,0.427,0.374,0.801,997.0,996.0,1003.0,광주,0.0,김선빈,1
88,2020,KIA,김선빈(2017),SS,우투,우타,신규,A,2019,30,121,447,394,55,115,22,0,1,3,40,5,4,43,26,7,4,2.84,30000,고졸,잔류,4,240000.0,104.5,0.434,0.360,0.794,1009.0,977.0,1001.0,광주,0.0,김선빈,1
89,2021,KIA,김선빈(2021),2B,우투,우타,FA 1년차,B,2020,31,85,351,303,42,100,19,0,2,1,37,1,1,40,43,12,5,2.48,45000,2번째 FA,잔류,0,0.0,121.1,0.469,0.406,0.875,1008.0,997.0,995.0,광주,0.0,김선빈,1
90,2022,KIA,김선빈(2021),2B,우투,우타,재자격,B,2021,32,130,564,501,55,154,32,0,1,5,67,0,0,56,39,19,5,3.41,45000,2번째 FA,잔류,0,0.0,115.0,0.475,0.375,0.850,999.0,980.0,1001.0,광주,0.0,김선빈,1
91,2023,KIA,김선빈(2021),2B,우투,우타,재자격,B,2022,33,140,587,505,51,145,23,0,6,3,61,13,2,65,47,14,3,3.37,45000,2번째 FA,잔류,0,0.0,109.9,0.402,0.373,0.775,989.0,1013.0,1000.0,광주,0.0,김선빈,1
92,2024,KIA,김선빈(2021),2B,우투,우타,재자격,B,2023,34,119,473,419,41,134,16,0,5,0,48,3,1,38,26,10,3,2.83,45000,2번째 FA,잔류,4,280000.0,114.9,0.396,0.381,0.777,979.0,971.0,1009.0,광주,0.0,김선빈,1
93,2025,KIA,김선빈(2025),2B,우투,우타,FA 1년차,B,2024,35,116,466,423,48,139,23,0,5,9,57,5,1,30,39,13,0,2.98,60000,2번째 FA,잔류,0,0.0,117.4,0.522,0.380,0.902,993.0,976.0,1013.0,광주,0.0,김선빈,1

In [106]:
# 이대호 선수는 수기로 수정해기기
df.loc[[390,391,392,393],'원클럽맨여부']=1

In [108]:
# 원클럽맨여부에 0이 들어간 선수들 모두 0으로 채워넣기
names_zero = df.loc[df['원클럽맨여부'] == 0, '선수명_수정'].unique()
df.loc[df['선수명_수정'].isin(names_zero), '원클럽맨여부'] = 0

In [112]:
names = df[df['원클럽맨여부'].isna()]['선수명_수정'].drop_duplicates()
names

13     강한울
18     고영민
23     고종욱
28     구자욱
33     권용관
      ...
593     최정
616    최진행
633    한상훈
637    한유섬
642    허경민
Name: 선수명_수정, Length: 62, dtype: object

In [114]:
a1 = pd.read_excel('원클럽맨여부.xlsx')
a1

     선수명  원클럽맨여부
0    강민호       0
1    강한울       0
2    고영민       1
3    고종욱       0
4    구자욱       1
..   ...     ...
99   한유섬       1
100  허경민       0
101  허도환       0
102  홍성흔       0
103  황재균       0

[104 rows x 2 columns]

In [116]:
df['원클럽맨여부'] = df['선수명_수정'].map(a1.set_index('선수명')['원클럽맨여부'])

In [118]:
names_one = df.loc[df['원클럽맨여부'] == 1, '선수명_수정'].unique()
df.loc[df['선수명_수정'].isin(names_one), '원클럽맨여부'] = 1

In [120]:
df.isna().sum()

FA년도        0
구단명         0
선수명         0
포지션         0
투           0
타           0
구분          0
FA등급        0
플레이년도       0
나이          0
게임수         0
타석수         0
타수          0
득점          0
안타          0
2루타         0
3루타         0
사구          0
홈런          0
타점          0
도루성공        0
도루실패        0
볼넷          0
삼진          0
병살타         0
희생플라이       0
공격WAR       0
연봉          0
비고          0
잔류 여부       0
FA 계약 연수    0
FA 계약 총액    0
wRC+        0
장타율         0
출루율         0
OPS         0
득점파크팩터      0
홈런파크팩터      0
장타파크팩터      0
구단지역        0
국대출전횟수      0
선수명_수정      0
원클럽맨여부      0
dtype: int64

In [134]:
df = df.drop(['선수명_수정'],axis=1)
df

,FA년도,구단명,선수명,포지션,투,타,구분,FA등급,플레이년도,나이,게임수,타석수,타수,득점,안타,2루타,3루타,사구,홈런,타점,도루성공,도루실패,볼넷,삼진,병살타,희생플라이,공격WAR,연봉,비고,잔류 여부,FA 계약 연수,FA 계약 총액,wRC+,장타율,출루율,OPS,득점파크팩터,홈런파크팩터,장타파크팩터,구단지역,국대출전횟수,원클럽맨여부
0,2011,롯데,강민호(2011),C,우투,우타,신규,A,2010,25,117,465,410,66,125,19,1,8,23,72,2,7,42,65,16,5,3.67,13500,고졸,잔류,0,0.0,134.4,0.629,0.376,1.005,1032.0,1128.0,1093.0,부산,8.0,0
1,2012,롯데,강민호(2011),C,우투,우타,신규,A,2011,26,124,506,450,63,130,25,2,8,19,66,4,6,47,81,18,1,3.90,20000,고졸,잔류,0,0.0,130.3,0.582,0.366,0.948,1044.0,1128.0,1093.0,부산,8.0,0
2,2013,롯데,강민호(2011),C,우투,우타,신규,A,2012,27,119,454,400,41,109,21,0,8,19,66,0,1,44,97,9,2,3.76,30000,고졸,잔류,0,0.0,132.9,0.568,0.355,0.923,1033.0,1128.0,1093.0,부산,8.0,0
3,2014,롯데,강민호(2011),C,우투,우타,신규,A,2013,28,105,405,327,48,77,13,0,11,11,57,4,1,60,87,5,6,1.75,55000,고졸,잔류,4,750000.0,99.2,0.450,0.366,0.816,1058.0,1128.0,1093.0,부산,8.0,0
4,2015,롯데,강민호(2015),C,우투,우타,FA 1년차,A,2014,29,98,360,310,37,71,14,2,13,16,40,1,2,33,92,6,4,1.20,100000,고졸,잔류,0,0.0,85.0,0.545,0.325,0.870,1045.0,1102.0,1062.0,부산,8.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,2019,KT,황재균(2019),3B,우투,우타,FA 1년차,B,2018,31,142,588,530,76,157,41,3,4,25,88,14,7,49,120,5,3,3.54,120000,고졸,이적,0,0.0,117.0,0.657,0.358,1.015,1018.0,985.0,1031.0,수원,5.0,0
663,2020,KT,황재균(2019),3B,우투,우타,재자격,B,2019,32,124,507,448,78,127,16,3,2,20,67,10,7,52,71,10,5,3.80,120000,고졸,이적,0,0.0,127.0,0.554,0.357,0.911,1006.0,948.0,1019.0,수원,5.0,0
664,2021,KT,황재균(2019),3B,우투,우타,재자격,B,2020,33,134,600,541,108,169,35,5,5,21,97,11,6,47,98,12,4,4.72,120000,고졸,이적,0,0.0,129.5,0.625,0.370,0.995,1012.0,978.0,1018.0,수원,5.0,0
665,2022,KT,황재균(2019),3B,우투,우타,재자격,B,2021,34,117,507,453,74,132,16,2,3,10,56,11,4,46,92,11,4,2.41,80000,고졸,잔류,4,600000.0,107.9,0.464,0.358,0.822,1024.0,987.0,1017.0,수원,5.0,0
666,2023,KT,황재균(2023),3B,우투,우타,FA 1년차,B,2022,35,141,581,519,59,136,25,3,5,10,64,6,3,53,99,17,2,2.07,40000,고졸,잔류,0,0.0,97.1,0.453,0.335,0.788,1039.0,1028.0,1020.0,수원,5.0,0

In [138]:
df['원클럽맨여부'].unique()

array([0, 1], dtype=int64)

In [136]:
df.to_csv('야수_전처리_ver08.csv', index = False)