In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('야수_전처리_ver04.csv')
df1 = pd.read_excel('파크팩터.xlsx')
df1

     구단명  플레이년도  득점파크팩터  홈런파크팩터  장타파크팩터 구단지역
0     키움   2010     999    1128    1032   서울
1     키움   2011    1019    1128    1032   서울
2     키움   2012    1029    1128    1032   서울
3     키움   2013    1058    1128    1032   서울
4     키움   2014    1046    1123    1012   서울
..   ...    ...     ...     ...     ...  ...
147  SSG   2021    1027    1139     968   인천
148  SSG   2022    1034    1175     959   인천
149  SSG   2023    1025    1190     940   인천
150  SSG   2024    1037    1221     943   인천
151  SSG   2025    1010    1177     939   인천

[152 rows x 6 columns]

In [13]:
merged_df = pd.merge(df, df1, how='left', on=['구단명', '플레이년도'])
merged_df

,FA년도,구단명,선수명,포지션,투,타,구분,FA등급,플레이년도,나이,...,FA 계약 연수,FA 계약 총액,wRC+,장타율,출루율,OPS,득점파크팩터,홈런파크팩터,장타파크팩터,구단지역
0,2011,롯데,강민호(2011),C,우투,우타,신규,A,2010,25,...,0,0.0,134.4,0.629,0.376,1.005,1032.0,1128.0,1093.0,부산
1,2012,롯데,강민호(2011),C,우투,우타,신규,A,2011,26,...,0,0.0,130.3,0.582,0.366,0.948,1044.0,1128.0,1093.0,부산
2,2013,롯데,강민호(2011),C,우투,우타,신규,A,2012,27,...,0,0.0,132.9,0.568,0.355,0.923,1033.0,1128.0,1093.0,부산
3,2014,롯데,강민호(2011),C,우투,우타,신규,A,2013,28,...,4,750000.0,99.2,0.450,0.366,0.816,1058.0,1128.0,1093.0,부산
4,2015,롯데,강민호(2015),C,우투,우타,FA 1년차,A,2014,29,...,0,0.0,85.0,0.545,0.325,0.870,1045.0,1102.0,1062.0,부산
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,2019,KT,황재균(2019),3B,우투,우타,FA 1년차,B,2018,31,...,0,0.0,117.0,0.657,0.358,1.015,1018.0,985.0,1031.0,수원
663,2020,KT,황재균(2019),3B,우투,우타,재자격,B,2019,32,...,0,0.0,127.0,0.554,0.357,0.911,1006.0,948.0,1019.0,수원
664,2021,KT,황재균(2019),3B,우투,우타,재자격,B,2020,33,...,0,0.0,129.5,0.625,0.370,0.995,1012.0,978.0,1018.0,수원
665,2022,KT,황재균(2019),3B,우투,우타,재자격,B,2021,34,...,4,600000.0,107.9,0.464,0.358,0.822,1024.0,987.0,1017.0,수원
666,2023,KT,황재균(2023),3B,우투,우타,FA 1년차,B,2022,35,...,0,0.0,97.1,0.453,0.335,0.788,1039.0,1028.0,1020.0,수원

In [15]:
merged_df.to_csv('야수_전처리_ver05.csv', index = False)