In [1]:
import pandas as pd

In [19]:
df = pd.read_csv('머신러닝_2013~2016FA.csv')
df1 = pd.read_csv('머신러닝_2017~2024FA.csv')
df

,FA년도,플레이년도,나이,게임수,타석수,타수,득점,안타,2루타,3루타,...,FA등급_A,비고_고졸,비고_대졸,구단지역_광주,구단지역_대구,구단지역_대전,구단지역_부산,구단지역_서울,구단지역_수원,구단지역_인천
0,2014,2010,25,117,465,410,66,125,19,1,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,2014,2011,26,124,506,450,63,130,25,2,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2014,2012,27,119,454,400,41,109,21,0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,2014,2013,28,105,405,327,48,77,13,0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,2016,2012,28,58,173,151,33,40,10,1,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,2014,2013,33,101,322,260,45,68,13,4,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
165,2013,2009,32,119,487,426,71,158,33,0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
166,2013,2010,33,111,498,431,88,151,28,1,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
167,2013,2011,34,132,535,474,70,145,24,2,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
168,2013,2012,35,113,443,390,48,114,20,0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [27]:
df1.columns

Index(['FA년도', '플레이년도', '나이', '게임수', '타석수', '타수', '득점', '안타', '2루타', '3루타',
       '사구', '홈런', '타점', '도루성공', '도루실패', '볼넷', '삼진', '병살타', '희생플라이', '공격WAR',
       '연봉', 'wRC+', '장타율', '출루율', 'OPS', '득점파크팩터', '홈런파크팩터', '장타파크팩터',
       '국대출전횟수', '원클럽맨여부', '타격 WPA', '주루 WPA', 'WPA+', 'WPA-', 'WPA', '1점 홈런',
       '2점 홈런 ', '3점 홈런', '만루 홈런', '홈런기여점수', '1번 타순', '2번 타순', '3번 타순',
       '4번 타순', '5번 타순', '6번 타순', '7번 타순', '8번 타순', '9번 타순', '메인 타순',
       '1년당 계약 총액', '포지션_1B', '포지션_2B', '포지션_3B', '포지션_C', '포지션_CF', '포지션_DH',
       '포지션_LF', '포지션_RF', '포지션_SS', '투_우투', '투_좌투', '타_우타', '타_좌타', '구분_다년계약',
       '구분_신규', '구분_자격유지', '구분_재자격', 'FA등급_A', 'FA등급_B', 'FA등급_C', 'FA등급_다년계약',
       '비고_22년 C등급', '비고_2번째 FA', '비고_35세 이상', '비고_35세 이상 대졸',
       '비고_35세 이상 해외복귀', '비고_3번째 FA', '비고_고졸', '비고_다년계약', '비고_대졸', '구단지역_광주',
       '구단지역_대구', '구단지역_대전', '구단지역_부산', '구단지역_서울', '구단지역_수원', '구단지역_인천',
       '구단지역_창원'],
      dtype='object')

In [ ]:
# EDA 한 내용대로 drop기기

In [29]:
df = df[['FA년도', '플레이년도', '나이', '게임수', '타석수', '타수', '득점', '안타', '2루타',
       '사구', '홈런', '타점','볼넷', '삼진', '병살타','공격WAR',
       '연봉', 'wRC+', '장타율', '출루율', 'OPS', '국대출전횟수', '원클럽맨여부','3번 타순', '4번 타순', '5번 타순',
       '메인 타순','1년당 계약 총액', '포지션_1B',
       '포지션_2B', '포지션_3B', '포지션_C', '포지션_CF', '포지션_DH', '포지션_LF', '포지션_RF',
       '포지션_SS','타_우타', '타_좌타', '구단지역_광주', '구단지역_대구', '구단지역_대전', '구단지역_부산',
       '구단지역_서울', '구단지역_수원', '구단지역_인천']]

In [31]:
df1 = df1[['FA년도', '플레이년도', '나이', '게임수', '타석수', '타수', '득점', '안타', '2루타',
       '사구', '홈런', '타점','볼넷', '삼진', '병살타', '공격WAR',
       '연봉', 'wRC+', '장타율', '출루율', 'OPS',
       '국대출전횟수', '원클럽맨여부', '타격 WPA', 'WPA+', 'WPA-', 'WPA', '홈런기여점수','3번 타순',
       '4번 타순', '5번 타순','메인 타순',
       '1년당 계약 총액', '포지션_1B', '포지션_2B', '포지션_3B', '포지션_C', '포지션_CF', '포지션_DH',
       '포지션_LF', '포지션_RF', '포지션_SS','타_우타', '타_좌타', 
       'FA등급_A', 'FA등급_B', 'FA등급_C', 'FA등급_다년계약', '구단지역_광주',
       '구단지역_대구', '구단지역_대전', '구단지역_부산', '구단지역_서울', '구단지역_수원', '구단지역_인천',
       '구단지역_창원']]

In [33]:
correlation = df.corr(numeric_only=True)['1년당 계약 총액'].abs().sort_values(ascending=False)
correlation

1년당 계약 총액    1.000000
국대출전횟수       0.715276
공격WAR        0.638439
안타           0.614724
타점           0.610014
득점           0.593880
타석수          0.575560
볼넷           0.561892
타수           0.561239
2루타          0.544366
홈런           0.535104
wRC+         0.534928
OPS          0.525618
출루율          0.510654
사구           0.505519
연봉           0.487746
장타율          0.480942
3번 타순        0.431932
게임수          0.427092
나이           0.359750
병살타          0.355260
메인 타순        0.335525
4번 타순        0.302474
삼진           0.285286
포지션_SS       0.241154
구단지역_대구      0.229304
FA년도         0.215091
5번 타순        0.173726
포지션_3B       0.151522
구단지역_광주      0.129746
포지션_1B       0.125273
플레이년도        0.121357
포지션_2B       0.113861
포지션_CF       0.086541
구단지역_대전      0.084236
구단지역_부산      0.067335
구단지역_인천      0.064648
포지션_LF       0.060774
포지션_DH       0.055361
포지션_C        0.055361
구단지역_수원      0.051728
원클럽맨여부       0.048752
구단지역_서울      0.030501
포지션_RF       0.018673
타_우타         0.006142
타_좌타         0.006142
Name: 1년당 계약 총액, dtype: float64

In [35]:
correlation = df1.corr(numeric_only=True)['1년당 계약 총액'].abs().sort_values(ascending=False)
correlation

1년당 계약 총액    1.000000
공격WAR        0.674804
타점           0.578713
wRC+         0.568345
득점           0.563327
WPA+         0.563047
홈런           0.555812
홈런기여점수       0.540194
OPS          0.531440
WPA          0.521193
장타율          0.517033
2루타          0.512089
안타           0.498724
타석수          0.489626
타수           0.474866
국대출전횟수       0.470805
볼넷           0.467841
출루율          0.439489
타격 WPA       0.427093
삼진           0.407910
사구           0.388343
WPA-         0.367791
FA등급_C       0.355162
연봉           0.335717
나이           0.311224
3번 타순        0.298964
게임수          0.297797
4번 타순        0.266700
메인 타순        0.232232
5번 타순        0.228421
병살타          0.225162
FA등급_A       0.221447
포지션_RF       0.217554
구단지역_서울      0.200854
포지션_SS       0.173932
구단지역_인천      0.128579
타_우타         0.128570
타_좌타         0.128570
포지션_C        0.119406
포지션_LF       0.114737
포지션_CF       0.106194
구단지역_수원      0.104586
포지션_1B       0.099647
FA년도         0.061966
구단지역_광주      0.059926
구단지역_부산      0.059432
포지션_2B       0.058920
구단지역_창원      0.058628
플레이년도        0.057063
구단지역_대전      0.050109
FA등급_B       0.038116
포지션_3B       0.037293
원클럽맨여부       0.033980
포지션_DH       0.009711
구단지역_대구      0.007746
FA등급_다년계약    0.000322
Name: 1년당 계약 총액, dtype: float64

In [37]:
df.to_csv('머신러닝_피처선택_2013~2016FA.csv', index = False)
df1.to_csv('머신러닝_피처선택_2017~2024FA.csv', index = False)